
nav{
    position: absolute;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 5%;
    height: 100px;
    background-color: #242526;
}
nav .logo{
    list-style: none;
    float: left;
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 24px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;

}
nav .logo a {
    color: #ffffff;
    list-style: none;
    text-decoration: none;
}
nav .list{
    float: right;
    padding: 0;
    margin: 0;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
nav .list li{
    list-style: none;

}

nav .list a{
    display: block;
    text-transform: uppercase;
    padding: 15px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;

}

nav .list a:hover{
    border-bottom: 4px solid #675bf9;
}

#toggle{
    position: absolute;
    top: -80px;

}
nav .icon-bars{
    display: none;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translate(-50%);

}

#img1{
   
    align-items: center;
    width: 45%;
    height: 35%;

}
.txt1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    padding: 15px;
    font-size: 16px;
    font-weight: bold;
    color: blue;
}
body{
    background: #5B7D8E;
}

.presentacion{
    height: 420px;
    width: 50%;
    display: flex;
    margin: auto;
    border-radius: 7px;
    box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    box-sizing: border-box;
}

.presentacion .img{
    width: 50%;
    height: 100%;
    
}
.presentacion .img img{
    width: 100%;
    vertical-align: top;
}
.info{
    width: 50%;
    border-radius: 0 7px 10px 7px;
    background: #fff;
}


.texto h1{
    margin-left: 38px;
    padding-top: 52px;
    font-size: 34px;
    color: #474747;
    font-family: serif;
}

.texto{
    justify-content: center;
    width: 100%;
    height: 125px;
    margin-left: 38px;
    font-family: serif;
    color: #8d8d8d;
    line-height: 1.7em;
}
.botones{
    display: flex;
  justify-content: center;
}
#circleimg{
    width: 60px;
    height: 60px;
}

#imgs{
    display: block;
    margin: auto;
    width: 80px;
    height: 80px;
    
}
.footer{
    position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}